*{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
  }

.header{
    display: flex;
    background-color: black;
    height: 50px;
    align-items: center
    
}

.menu{
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: initial;
    width: 100%;
    align-items: center;

}

a{
    color: #fff;
    text-decoration: none;
    margin: 5px
}
.home{
    display: flex;
    background-image: url('../img/travel.jpg');
    height: 70vh;
    width: 100vw;
    color: white;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column
    }

.text-shadow{
    text-shadow: 1px  1px 4px  rgba(0,0,0,0.45);

}
.title-font{
    font-size: 30px;
    font-weight: 5;
}

.subtitle-font{
    font-size: 20px
}

.margin-bottom-sd{
    margin-bottom: 30px;

}

.margin-bottom-md{
    margin-bottom: 15px;


}